@font-face {
    font-family: Triforce;
    src: url('../fonts/Triforce.ttf');
}
@font-face {
    font-family: Ganon;
    src: url('../fonts/ReturnofGanon.ttf');
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    color: #404040;
    font: 16px/1.5 Helvetica Neue,sans-serif;
    letter-spacing: -.32px;
    margin: 0;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	text-decoration: none;
	color: inherit;
}
.Header {
	display: flex;
	justify-content: space-between;
	font-family: 'Open Sans', sans-serif;
	background-color: #404040;
	color: #e6e6e6;
	letter-spacing: .2px;
	padding: 24px 20px;
}
.headerName {
	color: inherit; 
	font-size: 20px;
	font-weight: 300;
	line-height: 1;
	margin: 0;
	text-transform: uppercase;
	word-spacing: 4px
}
.headerSubtitle {
	color: inherit;
	font-size: 12.8px;
	margin: 2.5px 0 0;
	opacity: .6
}
#menuButton{
	padding: 10px
}
#menuButton:hover{
	cursor: pointer;
}
.headerInfo {
	font-family: 'Open Sans', sans-serif;
	display: none;
	justify-content: space-between;
	color: #404040;
	background-color: #e6e6e6;
	font-size: 20px;
	padding: 24px 20px;
	word-spacing: 8px;
	box-shadow: 0px 3px 5px 0px #ccc;
  }
i.fa.fa-twitter {
  text-decoration: none;
  color: #ccc;
}
i.fa.fa-twitter:active, i.fa.fa-twitter:hover{
  color: lightblue;
}
i.fa.fa-github {
  text-decoration: none;
  color: #ccc;
}
i.fa.fa-github:active, i.fa.fa-github:hover{
  color: black;
}
i.fa.fa-linkedin {
  text-decoration: none;
  color: #ccc;
}
i.fa.fa-linkedin:active, i.fa.fa-linkedin:hover{
  color: blue;
}
a.wordlinks {
	text-decoration: none;
	color: #404040;
}
a.wordlinks:active, a.wordlinks:hover{
	color: green;
}
.fullMenu{
	display: none;
	justify-content: space-between;
	font-family: 'Open Sans', sans-serif;
	background-color: #e6e6e6;
	font-size: 20px;
	letter-spacing: 1.1px;
	padding: 15px 13px;
}
.fullCenter{
	letter-spacing: 3px;
}
.fullRight{
	word-spacing: 15px;
}
#whidbeyImage{
	width: 100%; 
	height: auto;
	overflow: hidden;
}
#aboutImage{
	width: 100%; 
	height: auto;
	overflow: hidden;
}
#articleImage{
	width: 100%; 
	height: auto;
	overflow: hidden;
}
.mainBody {
	    padding: 32px 20px
}
.bodyHead{
    margin-bottom: 22px;
}
.bodyHeader{
	color: #aaa;
    font-size: 12px;
    letter-spacing: 2.5px;
    margin: 0;
    text-align: left;
    text-transform: uppercase;
    word-spacing: 8px;
}
.articleItem{
	font-family: 'Open Sans', sans-serif;
	border-top: 1px solid #f2f0ed;
    padding: 22px 0;
    position: relative;
}
.articleDate{
	color: #aaa;
	font-size: 13px;
	font-weight: 300;
	padding: 16px 0;
}
.articleHeader{
	margin: 10.672px 0 5.33px;
	color: #404040;
	font-size: 24px;
}
.bodyText{
	color: #aaa;
	font-size: 13px;
	font-weight: 300;
}
.aboutText{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	border-top: 1px solid #f2f0ed;
    padding: 22px 0;
}
.listHeads{
	margin: 10.672px 0 5.33px;
	color: #404040;
	font-size: 20px;
}
.aboutLists{
	text-decoration: underline;
	font-weight: 300;
}
.indexDiv{
    margin: auto;
    width: 50%;
 }
 .indexHeader{
	color: #aaa;
    font-size: 12px;
    letter-spacing: 2.5px;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    word-spacing: 8px;
}
.indexYear{
	border-top: 1px solid #f2f0ed;
	margin: 0 auto;
	color: #404040;
	font-size: 24px;
	padding-bottom: 2%;
}
.yearList{
	list-style-type: disc;
	padding-left: 5%
}
.indexEntry a{
	text-decoration: underline;
}
@media (min-width: 600px) {
  .mobileHeader {
    display: none; }

  .flex_styles {
    background-color: #f4f2f0; }

  .fullMenu {
    display: flex; }


  img {
    object-position: 0 0; }

  .content_container {
    width: 600px;
    margin: 0 auto; 
    }
.bodyText{
	font-size: 16px;
}
}
/* Top Box */

.pcl{
	background-color: rgb(223, 223, 223);
}
.pclHeader{
	display: flex;
	justify-content: space-between;
	background-color: #424242;
	border:1px solid #3A3A3A;
    width: 100%;
}
.header_link{
    display: inline-block;
    font-size: 1em;
    padding: 12px 10px 14px;
    font-weight: 300;
    letter-spacing: 1px;
    cursor: pointer;
    text-transform: uppercase;
    transition: color 0.3s ease;
    color: #0d9263;
}
.header_goback{
    display: inline-block;
    font-size: 1em;
    padding: 12px 10px 14px;
    font-weight: 300;
    letter-spacing: 1px;
    cursor: pointer;
    text-transform: uppercase;
    transition: color 0.3s ease;
    color: #0d9263;
}
.header_dlresume{
    display: inline-block;
    font-size: 1em;
    padding: 12px 10px 14px;
    font-weight: 300;
    letter-spacing: 1px;
    cursor: pointer;
    text-transform: uppercase;
    transition: color 0.3s ease;
    color: #0d9263;
}
a.pcl_links:hover{
  color: rgb(189, 65, 40);
  transition: color 0.3s ease;
}
a.header_link:hover{
  color: rgb(189, 65, 40);
  transition: color 0.3s ease;
}
a.header_goback:hover{
  color: rgb(189, 65, 40);
  transition: color 0.3s ease;
}
a.header_dlresume:hover{
  color: rgb(189, 65, 40);
  transition: color 0.3s ease;
}
#intro_title {
  display: flex;
  height: 545px;
  font-family: 'Press Start 2P', cursive;
  font-size: 32px;
  font-weight: normal;
  line-height: 1em;
  color: #55fb2f;
  background-color: black;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-left: 4%;
  padding-right: 4%;
}

.intro_text{
	position: relative;
    top: -10px;
    text-align: center;
}


/* Main Content */
.intro_descrip{
	display: flex;
	justify-content: space-around;
}
.intro_blurb{
	padding-top: 50px;
	padding-right: 2%;
	padding-left: 2%;
	float: left;
	max-width: 60%;
}
.intro_image{
	float: right;
	max-width: 35%;
	padding-top: 50px;
	padding-right: 2%;
	padding-left: 2%;
	align-items: center;
}
#intro_img{
	width: auto;
	height:auto;
	max-width: 100%;
	max-height: 300px;
}

.title{
	border-bottom: solid 3px #0d9263;
	font-family: 'Triforce', cursive;
	font-weight: bold;
	color: #0e5135;
	font-size: 40px;
}
.columns{
	max-width: 80%;
	margin: 0 auto;
	justify-content: space-around;
}
.title_about{
	padding-top: 5px;
	font-family: 'Cormorant Infant', serif;
	font-size: 20px;
}
.column_title{
	font-family: 'Triforce', cursive;
	font-size: 32px;
	font-weight: bold;
	border-bottom: solid 3px #0d9263;
    margin-bottom: 1em;
	color: #0e5135;
}

.column_sub{
	font-family: 'Triforce', cursive;
	color: 	#0d9263;
	font-weight; bold;
	font-size: 22px;
}

.intro_column_left{
	max-width: 40%;
	float: left;
	padding-top: 10px;
	margin-top: 25px;
	margin: 0 auto;
	margin-bottom: 60px;
	margin-top: 60px;
	padding-top: 40px;
	font-family: 'Cormorant Infant', serif;
}

.intro_column_right{
	max-width: 40%;
	float: right;
	padding-top: 10px;
	margin-top: 25px;
	margin: 0 auto;
	margin-bottom: 60px;
	margin-top: 60px;
	padding-top: 40px;
	font-family: 'Cormorant Infant', serif;
}

.clear_both{
	clear: both;
}
.project_title{
	max-width: 50%;
	font-family: 'Triforce', cursive;
	font-size: 32px;
	font-weight: bold;
	border-bottom: solid 3px #0d9263;
    margin-bottom: 1em;
	color: #0e5135;
}
.bottom_about{
	margin: 0 auto;
}

.about_box{
	width: 35%;
    margin: 30px auto;
    padding: 5px;
    background: -webkit-radial-gradient(at top left 0%, #0e5135 10%, #4ED26D);
    background: -o-radial-gradient(at top left 0%, #0e5135 10%, #4ED26D);
    background: -moz-radial-gradient(at top left 0%, #0e5135 10%, #4ED26D);
    background: radial-gradient(at top left 0%, #0e5135 10%, #4ED26D);
}
.about_box_content{
    background-color: rgb(223, 223, 223);
    padding: 10px;
    display: flex;
}
.about_box_title{
	font-family: 'Triforce', cursive;
	font-size: 32px;
	font-weight: bold;
	border-bottom: solid 3px #0d9263;
    margin-bottom: 10px;
	color: #0e5135;
}
#about_box_info{
	font-family: 'Cormorant Infant', serif;
	font-size: 20px;
}
.pclFooter{
	display: block;
	background-color: #424242;
    width: 100%;
    text-align: center;
    border:1px solid #3A3A3A;
}
.footer_links{
    display: block;
    font-size: 14px;
    padding: 6px 5px 7px;
    font-weight: 300;
    letter-spacing: 1px;
    cursor: pointer;
    text-transform: uppercase;
    transition: color 0.3s ease;
    color: #0d9263;
    cursor: default;
}
.footer_links a:hover{
  cursor: pointer;
  color: rgb(189, 65, 40);
  transition: color 0.3s ease;
}
.footer_links span{
	color: rgb(223, 223, 223);
}
@media (min-width: 525px) {
  #intro_title {
  font-size: 44px; }
}
#resume{
	padding-top: 20px;
	display: block;
	margin: 0 auto;
}
