/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    color: #404040;
    font: 16px/1.5 Helvetica Neue,sans-serif;
    letter-spacing: -.32px;
    margin: 0;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	text-decoration: none;
	color: inherit;
}
.Header {
	font-family: 'Open Sans', sans-serif;
	background-color: #404040;
	color: #e6e6e6;
	letter-spacing: .2px;
	padding: 24px 20px;
}
.headerName {
	color: inherit; 
	font-size: 20px;
	font-weight: 300;
	line-height: 1;
	margin: 0;
	text-transform: uppercase;
	word-spacing: 4px
}
.headerSubtitle {
	color: inherit;
	font-size: 12.8px;
	margin: 2.5px 0 0;
	opacity: .6
}
.headerInfo {
	font-family: 'Open Sans', sans-serif;
	display: flex;
	justify-content: space-between;
	color: #404040;
	background-color: #e6e6e6;
	font-size: 20px;
	padding: 24px 20px;
	word-spacing: 8px;
	box-shadow: 0px 3px 5px 0px #ccc;
  }
i.fa.fa-twitter {
  text-decoration: none;
  color: #ccc;
}
i.fa.fa-twitter:active, i.fa.fa-twitter:hover{
  color: lightblue;
}
i.fa.fa-github {
  text-decoration: none;
  color: #ccc;
}
i.fa.fa-github:active, i.fa.fa-github:hover{
  color: black;
}
i.fa.fa-linkedin {
  text-decoration: none;
  color: #ccc;
}
i.fa.fa-linkedin:active, i.fa.fa-linkedin:hover{
  color: blue;
}
a.wordlinks {
	text-decoration: none;
	color: #404040;
}
a.wordlinks:active, a.wordlinks:hover{
	color: green;
}
#whidbeyImage{
	width: 100%; 
	height: auto;
	overflow: hidden;
}
.mainBody {
	    padding: 32px 20px
}
.bodyHead{
    margin-bottom: 22px;
}
.bodyHeader{
	color: #aaa;
    font-size: 12px;
    letter-spacing: 2.5px;
    margin: 0;
    text-align: left;
    text-transform: uppercase;
    word-spacing: 8px;
}
.articleItem{
	font-family: 'Open Sans', sans-serif;
	border-top: 1px solid #f2f0ed;
    padding: 22px 0;
    position: relative;
}
.articleDate{
	color: #aaa;
	font-size: 13px;
	font-weight: 300;
	padding: 16px 0;
}
.articleHeader{
	margin: 10.672px 0 5.33px;
	color: #404040;
	font-size: 24px;
}
.bodyText{
	color: #aaa;
	font-size: 13px;
	font-weight: 300;
}
.aboutText{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	border-top: 1px solid #f2f0ed;
    padding: 22px 0;
}
.listHeads{
	margin: 10.672px 0 5.33px;
	color: #404040;
	font-size: 20px;
}
.aboutLists{
	text-decoration: underline;
	font-weight: 300;
}
